.wrapper{
    border: 1px solid #ccc;
    border-top: none;
    margin: 0 auto;
    max-width: 980px;
}
#wrapnav .wrapmenu{
    border-right: none;
}
#wrapnav .ant-menu-item{
    box-sizing: border-box;
    margin-right: -1px;
    text-align: center;
    border-right: 3px solid transparent
}
#wrapnav .ant-menu-item:hover{
    border-right: 3px solid #1890ff
}
#wrapnav .ant-menu-item-selected{
    background: #e6f7ff;
    border-right: 3px solid #1890ff
}

.min {
    padding: 0 20px;
    border-left: 1px solid #ccc;
}
.min p{
    margin: 0;
    
}
.BookWrap{
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
}
.ant-list-item-meta{
    align-items: center;
    min-width: 200px;
}

.ant-list-item-meta-avatar{
    margin-bottom: 5px;
}
.ant-list-item img{
      width: 100%;
    
}

.userWrap{
    margin: 0 auto;
    max-width: 980px;
    border: 1px solid #ccc;
    border-top: none;
    box-sizing: border-box;
    /* margin-top: -10px; */

}
.userWrap .user{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 10px auto;
}
.userRow{
    text-align: center;
    margin-bottom: 10px;
    line-height: 24px;
}
.useList .ant-list-item{
    position: relative;
}
.useList{
    line-height: 32px;
}
.useList .usename{
    margin: 0px 10px 0px 5px;
}
.useList time{
    position: absolute;
    top: 12px;
    right: 0;
}
.useList .ant-list-item{
    display: block;
}
.useList h4{
    display: inline-block;
}

@media all and (max-width:767px){
    .useList h4{
        display: block;
    }
}